{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        window.addEventListener('load', event => {
            const automationCheckbox = document.getElementById('automation');
            let automation = 0;

            if (automationCheckbox) {
                automation = Number(localStorage.getItem('automation') || 0);

                automationCheckbox.checked = automation === 1;

                automationCheckbox.addEventListener('change', event => {
                    localStorage.setItem('automation', event.target.checked === true ? 1 : 0);
                    window.location.reload();
                });
            }

            const cooldownElement = document.querySelector('[data-cooldown]');

            if (cooldownElement) {
                let intervalHandle;

                intervalHandle = setInterval(() => {
                    let openingParantheses = cooldownElement.innerText.indexOf('(');
                    let closingParantheses = cooldownElement.innerText.indexOf(')');

                    let currentValue = Number(cooldownElement.innerText.substring(openingParantheses + 1, closingParantheses - 1));
                    if (currentValue <= 1) {
                        clearInterval(intervalHandle);
                    }

                    let newText = cooldownElement.innerText.replace(currentValue + 's', (currentValue - 1) + 's');

                    cooldownElement.innerText = newText;
                }, 1000);
            }

            if (automation === 1) {
                const cooldown = Number(cooldownElement?.dataset.cooldown);
                const action = document.querySelector('[data-action]').dataset.action;
                const runActionButton = document.getElementById('run-action-button');

                if (action === 'EXTRACT_ASTEROID') {
                    setTimeout(() => {
                        runActionButton.click();
                    }, isNaN(cooldown) ? 5000 : ((cooldown + 1) * 1000));
                }

                if (['NAVIGATE_TO_ASTEROID', 'REFUEL_SHIP', 'JETTISON_CARGO', 'SELL_CARGO', 'NAVIGATE_TO_DELIVERY', 'DELIVER_CARGO'].includes(action)) {
                    setTimeout(() => {
                        runActionButton.click();
                    }, 5000);
                }
            }

            const SIZE = 800;
            const RANGE = 800;

            const waypoints = {{ scannedWaypoints|json_encode|raw }};
            console.log(waypoints);

            const mapPixel = (coord, min, max, size) => {
                return ((coord - min) / (max - min)) * size;
            };

            const mapCoordinates = (x, y) => {
                return {x: mapPixel(x, -RANGE, RANGE, SIZE), y: mapPixel(y, -RANGE, RANGE, SIZE)};
            };

            const calculateDistance = (x1, y1, x2, y2) => {
                return Math.sqrt(Math.pow(x2 - x1, 2) + Math.pow(y2 - y1, 2));
            };

            const from = {x: 24, y: -13};
            const to = {x: 319, y: 86};

            console.log(calculateDistance(from.x, from.y, to.x, to.y));

            const systemCanvas = document.getElementById('system');
            systemCanvas.width = SIZE;
            systemCanvas.height = SIZE;
            const context = systemCanvas.getContext('2d');

            context.fillStyle = 'white';
            context.fillRect(0, 0, 800, 800);

            const fromPosition = mapCoordinates(from.x, from.y);
            const toPosition = mapCoordinates(to.x, to.y);

            context.strokeStyle = 'black';
            context.beginPath();
            context.moveTo(fromPosition.x, fromPosition.y);
            context.lineTo(toPosition.x, toPosition.y);
            context.closePath();
            context.stroke();

            let maxX = 0;
            let maxY = 0;

            for (let i = 0; i < waypoints.length; ++i) {
                if (Math.abs(waypoints[i].x) > maxX) {
                    maxX = Math.abs(waypoints[i].x);
                }

                if (Math.abs(waypoints[i].y) > maxY) {
                    maxY = Math.abs(waypoints[i].y);
                }

                let position = mapCoordinates(waypoints[i].x, waypoints[i].y);

                if (['X1-YQ84-A1', 'X1-YQ84-B9'].includes(waypoints[i].waypointSymbol)) {
                    context.fillStyle = 'red';
                } else if (waypoints[i].exchange.includes('FUEL')) {
                    context.fillStyle = 'orange';
                } else {
                    context.fillStyle = 'black';
                }

                context.beginPath();
                context.arc(position.x, position.y, 2.5, 0, Math.PI * 2);
                context.closePath();
                context.fill();
            }

            console.log(`maxX: ${maxX}, maxY: ${maxY}`);
        });
    </script>
{% endblock %}

{% block body %}
    <div class="my-5">
        <h3>Welcome back {{ agent.symbol }}</h3>

        <p class="mb-3">
            Available credits: {{ agent.credits }}
        </p>

        <h4>Your System</h4>

        <div class="row row-cols-1 mb-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-text">
                            <span>Headquarters: {{ agent.headquarters }}</span><br>
                            <span>Scanned waypoints: {{ scannedWaypoints|length }} / {{ system.waypoints|length }}</span>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#system-map" aria-expanded="false" aria-controls="system map">Show System</button>
                                </div>
                                <div id="system-map" class="collapse flex-grow-1">
                                    <div class="d-flex justify-content-evenly">
                                        <canvas id="system" class="d-block"></canvas>
                                        <div>
                                            <h4>Ship Controls</h4>

                                            {% form_theme shipControl.flightModeForm 'bootstrap_5_layout.html.twig' %}
                                            {{ form(shipControl.flightModeForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>Your Ships</h4>

        <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
            {% for ship in ships %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ ship.symbol }}</h5>
                            <div class="card-text">
                                <span>Crew: {{ ship.crew.current }} / {{ ship.crew.capacity }}</span><br>
                                <button class="btn btn-sm btn-primary mt-2 me-2" data-bs-toggle="collapse" data-bs-target="#modules-{{ loop.index0 }}" aria-expanded="false" aria-controls="modules-{{ loop.index0 }}">Modules</button>
                                <button class="btn btn-sm btn-primary mt-2" data-bs-toggle="collapse" data-bs-target="#mounts-{{ loop.index0 }}" aria-expanded="false" aria-controls="mounts-{{ loop.index0 }}">Mounts</button>
                                <ul id="modules-{{ loop.index0 }}" class="collapse mt-2 mb-0">
                                    {% for module in ship.modules %}
                                        <li>{{ module.symbol }}</li>
                                    {% endfor %}
                                </ul>
                                <ul id="mounts-{{ loop.index0 }}" class="collapse mt-2 mb-0">
                                    {% for mount in ship.mounts %}
                                        <li>{{ mount.symbol }}</li>
                                    {% endfor %}
                                </ul>
                                <hr>
                                <span>Status: {{ ship.nav.status }}</span><br>
                                <span>
                                    Flight mode:
                                    <a class="btn btn-sm {% if ship.nav.flightMode == 'CRUISE' %}btn-success{% else %}btn-primary{% endif %} py-0 me-2" href="{{ path('app.ship.nav', {'shipSymbol': ship.symbol, 'flightMode': 'CRUISE'}) }}">CRUISE</a>
                                    <a class="btn btn-sm {% if ship.nav.flightMode == 'BURN' %}btn-success{% else %}btn-primary{% endif %} py-0 me-2" href="{{ path('app.ship.nav', {'shipSymbol': ship.symbol, 'flightMode': 'BURN'}) }}">BURN</a>
                                    <a class="btn btn-sm {% if ship.nav.flightMode == 'DRIFT' %}btn-success{% else %}btn-primary{% endif %} py-0 me-2" href="{{ path('app.ship.nav', {'shipSymbol': ship.symbol, 'flightMode': 'DRIFT'}) }}">DRIFT</a>
                                    <a class="btn btn-sm {% if ship.nav.flightMode == 'STEALTH' %}btn-success{% else %}btn-primary{% endif %} py-0" href="{{ path('app.ship.nav', {'shipSymbol': ship.symbol, 'flightMode': 'STEALTH'}) }}">STEALTH</a>
                                </span><br>
                                <span>Fuel level: {{ ship.fuel.current }} / {{ ship.fuel.capacity }}</span><br>
                                <span>Location: {{ ship.nav.waypointSymbol }}</span><br>
                                {% if ship.cooldown.expiration|default %}
                                    <span data-cooldown="{{ ship.cooldown.remainingSeconds }}">Cooldown: {{ ship.cooldown.expiration|date('d.m.Y H:i:s') }} ({{ ship.cooldown.remainingSeconds }}s)</span><br>
                                {% endif %}
                                <hr>
                                <span>Cargo: {{ ship.cargo.units }} / {{ ship.cargo.capacity }}</span><br>
                                <ul class="mb-0">
                                    {% for item in ship.cargo.inventory %}
                                        <li>{{ item.symbol }} ({{ item.units }})</li>
                                    {% endfor %}
                                </ul>
                                <hr>
                                <a class="btn btn-sm btn-primary" href="{{ path('app.ship.negotiate', {'shipSymbol': ship.symbol}) }}">Negotiate Contract</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h4>Your Contracts</h4>

        <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
            {% for contract in contracts %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ contract.type }}</h5>
                            <div class="card-text">
                                <span>Terms: {{ contract.getTermsDescription }}</span><br>
                                <span>Reward: {{ contract.getRewardDescription }}</span><br>
                                {% if contract.accepted %}
                                    <span>Deadline: {{ contract.terms.deadline|date('d.m.Y H:i:s') }}</span><br>
                                    <div class="d-flex mt-2">
                                        <button class="btn btn-sm btn-primary me-2" disabled>{% if not contract.fulfilled %}Contract is underway{% else %}Fulfilled{% endif %}</button>
                                        {% if not contract.fulfilled %}
                                            {% set acceptedContract = acceptedContracts|find(c => c.contractId == contract.id) %}
                                            <a id="run-action-button" class="btn btn-sm btn-primary" href="{{ path('app.contract.run', {'contractId': contract.id}) }}">Run action</a>
                                            {% if acceptedContract.data.action in ['NAVIGATE_TO_ASTEROID', 'REFUEL_SHIP', 'EXTRACT_ASTEROID', 'JETTISON_CARGO', 'SELL_CARGO', 'NAVIGATE_TO_DELIVERY', 'DELIVER_CARGO'] %}
                                                <div class="form-check align-self-center ms-auto">
                                                    <input class="form-check-input" type="checkbox" id="automation">
                                                    <label class="form-check-label" for="automation">Enable automation</label>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <span>Expires after: {{ contract.deadlineToAccept|date('d.m.Y H:i:s') }}</span><br>
                                    <a class="btn btn-sm btn-primary mt-2" href="{{ path('app.contract.accept', {'contractId': contract.id}) }}">Accept contract</a>
                                {% endif %}
                                {% if contract.accepted and not contract.fulfilled %}
                                    {% set acceptedContract = acceptedContracts|find(c => c.contractId == contract.id) %}
                                    <hr>
                                    <span>Ship: {{ acceptedContract.shipSymbol }}</span><br>
                                    <span data-action="{{ acceptedContract.data.action }}">Action: {{ acceptedContract.data.action }}</span><br>
                                    {% if acceptedContract.data.asteroidSymbol|default %}
                                        <span>Asteroid: {{ acceptedContract.data.asteroidSymbol }}</span><br>
                                    {% endif %}
                                    {% if acceptedContract.data.arrival|default %}
                                        <span>Arrival: {{ acceptedContract.data.arrival|date('d.m.Y H:i:s') }}</span><br>
                                    {% endif %}
                                    {% for message in app.flashes('info') %}
                                        <span>{{ message }}</span><br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="btn btn-primary" href="{{ path('app.auth.logout') }}">Logout</a>
    </div>
{% endblock %}
