{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-5">
        <h3>Welcome back {{ agent.symbol }}</h3>

        <p class="mb-3">Available credits: {{ agent.credits }}</p>

        <h4>Your Ships</h4>

        <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
            {% for ship in ships %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ ship.symbol }}</h5>
                            <div class="card-text">
                                <span>Crew: {{ ship.crew.current }} / {{ ship.crew.capacity }}</span><br>
                                <span>Modules:</span><br>
                                <ul class="mb-0">
                                    {% for module in ship.modules %}
                                        <li>{{ module.symbol }}</li>
                                    {% endfor %}
                                </ul>
                                <span>Mounts:</span><br>
                                <ul class="mb-0">
                                    {% for mount in ship.mounts %}
                                        <li>{{ mount.symbol }}</li>
                                    {% endfor %}
                                </ul>
                                <hr>
                                <span>Status: {{ ship.nav.status }}</span><br>
                                <span>Flight mode: {{ ship.nav.flightMode }}</span><br>
                                <span>Fuel level: {{ ship.fuel.current }} / {{ ship.fuel.capacity }}</span><br>
                                <span>Waypoint: {{ ship.nav.waypointSymbol }}</span><br>
                                {% if ship.nav.status == 'DOCKED' %}
                                    <a class="btn btn-sm btn-primary mt-2" href="{{ path('app.ship.orbit', {'ship': ship.symbol}) }}">Orbit</a>
                                {% elseif ship.nav.status == 'IN_ORBIT' %}
                                    <a class="btn btn-sm btn-primary mt-2" href="{{ path('app.ship.dock', {'ship': ship.symbol}) }}">Dock</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h4>Your Contracts</h4>

        <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
            {% for contract in contracts %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ contract.type }}</h5>
                            <div class="card-text">
                                <span>Terms: {{ contract.getTermsDescription }}</span><br>
                                <span>Reward: {{ contract.getRewardDescription }}</span><br>
                                {% if contract.accepted %}
                                    <span>Deadline: {{ contract.terms.deadline|date('d.m.Y H:i:s') }}</span><br>
                                    <button class="btn btn-sm btn-primary mt-2" disabled>Contract is underway</button>
                                    <a class="btn btn-sm btn-primary mt-2" href="{{ path('app.contract.run', {'contractId': contract.id}) }}">Run action</a>
                                {% else %}
                                    <span>Expires after: {{ contract.expiration|date('d.m.Y H:i:s') }}</span><br>
                                    <a class="btn btn-sm btn-primary mt-2" href="{{ path('app.contract.accept', {'contractId': contract.id}) }}">Accept contract</a>
                                {% endif %}
                                {% if contract.activeContract %}
                                    <hr>
                                    <span>Action: {{ contract.activeContract.action }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="btn btn-primary" href="{{ path('app.auth.logout') }}">Logout</a>
    </div>
{% endblock %}
